{% load static %}

<div class="row no-gutters">
  <div class="col-md-4">
    {% if application.avatar %}
      <img src="{{ application.avatar.url }}" class="card-img" alt="applicant-picture">
    {% else %}
      <img src="{% static 'img/blank_avatar.png' %}" class="card-img" alt="applicant-picture">
    {% endif %}
  </div>
  <div class="col-md-8">
    <div class="card-body">
      <h5 class="card-title">{{ application.user.first_name }} {{ application.user.last_name }}</h5>
      <p class="card-text">{{ application.text }}</p>
    </div>
  </div>
</div>