{% load static %}
{% if widget.is_initial %}
<img src="{{ widget.value.url }}" class="applicant-picture" alt="applicant-picture" />{% if not widget.required %}
<input type="checkbox" name="{{ widget.checkbox_name }}" id="{{ widget.checkbox_id }}">
<label for="{{ widget.checkbox_id }}">{{ widget.clear_checkbox_label }}</label>{% endif %}<br>
{% else %}
<img src="{% static 'img/blank_avatar.png' %}" class="applicant-picture" alt="applicant-picture" />
{% endif %}
<input type="{{ widget.type }}" name="{{ widget.name }}"{% include "django/forms/widgets/attrs.html" %}>
