{% extends 'vote/base.html' %}

{% block content %}
  <div class="row justify-content-center">
    <div class="col-12">
      <div class="card shadow">
        <div class="card-body">
          <h4>Abstimmungen</h4>
          <div class="list-group">
            {% if voter.can_vote %}
              <a class="list-group-item list-group-item-action" href="{% url 'vote:vote' %}">
                <span>{{ voter.election.title }}</span>
                <small class="float-right text-muted">
                  {{ voter.election.application_due_date }} - {{ voter.election.end_date }}
                </small>
              </a>
            {% elif voter.voted %}
              <a class="list-group-item list-group-item-action" href="#">
                <span>{{ voter.election.title }}</span>
                <small class="float-right text-muted">
                  Stimme abgegeben
                </small>
              </a>
            {% elif voter.election.closed %}
              <a class="list-group-item list-group-item-action" href="#">
                <span>{{ voter.election.title }}</span>
                <small class="float-right text-muted">
                  Abstimmung geschlossen
                </small>
              </a>
            {% else %}
              <a class="list-group-item list-group-item-action" href="#">
                <span>{{ voter.election.title }}</span>
                <small class="float-right text-muted">
                  Abstimmung geöffnet ab {{ voter.election.application_due_date }}
                </small>
              </a>
            {% endif %}
          </div>
          <hr>
          <h5>Bewerbungen
            {% if not voter.election.can_apply %}
              <small class="text-danger">nicht mehr möglich</small>
            {% endif %}
          </h5>
          <div class="list-group">
            {% if voter.election.can_apply %}
              {% if voter.application %}
                <a
                    class="list-group-item list-group-item-action"
                    href="{% url 'vote:upload_application' %}"
                >Bewerbung bearbeiten</a>
              {% else %}
                <a
                    class="list-group-item list-group-item-action"
                    href="{% url 'vote:upload_application' %}"
                >Als Hausadmin bewerben</a>
              {% endif %}
            {% elif voter.application %}
              <a
                  class="list-group-item list-group-item-action"
                  href="{% url 'vote:view_application' voter.application.pk %}"
              >Bewerbung ansehen</a>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
