{% extends 'vote/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
  <div class="row justify-content-center">
    <div class="col-8">
      <div class="card shadow">
        <div class="card-body">
          <form action="{% url 'vote:upload_application' %}" method="post">
            {% csrf_token %}
            <div class="form-group">
              <h4>Bewerbung als Hausadmin</h4>
            </div>
            <hr>
            {{ form|crispy }}
            <button type="submit" class="btn btn-primary btn-block">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
