{% extends 'vote/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
  <div class="row justify-content-center">
    <div class="col-12">
      <div class="card shadow">
        <div class="card-body">
          <form action="{% url 'vote:vote' %}" method="post">
            {% csrf_token %}
            <div class="form-group">
              <h4>Abstimmen</h4>
            </div>
            <hr>
            {% if form.non_field_errors %}
              <div class="alert alert-block alert-danger">
                <ul class="m-0">
                  {% for error in form.non_field_errors %}
                    <li>{{ error|escape }}</li>
                  {% endfor %}
                </ul>
              </div>
            {% endif %}
            <div class="table-responsive">
              <table class="table table-sm vote-list">
                <thead class="thead-light">
                  <tr>
                    <th>Applicant (Room)</th>
                    <th class="choice text-center">Abstention</th>
                    <th class="choice text-center">YES</th>
                    <th class="choice text-center text-muted" title="NO should only be selected if you want to vote EXPLICITLY AGAINST this applicant">NO*</th>
                  </tr>
                </thead>
                <tbody>
                  {% for field in form.visible_fields %}
                  <tr>
                    <td class="applicant">
                      <div class="row no-gutters">
                        <div class="col-3">
                          {% if field.application.avatar %}
                            <img src="{{ field.application.avatar.url }}" class="card-img" alt="applicant-picture">
                          {% else %}
                            <img src="{% static 'img/blank_avatar.png' %}" class="card-img" alt="applicant-picture">
                          {% endif %}
                        </div>
                        <div class="col-9">
                          <div class="card-body">
                            <h5 class="card-title">{{ field.label }}</h5>
                            <p class="card-text">{{ field.application.text }}</p>
                          </div>
                        </div>
                      </div>
                    </td>
                    {% for radio in field %}
                    <td class="text-center"><label class="radio" for="{{ radio.id_for_label }}" title="{{ radio.choice_label }}">{{ radio.tag }}</label></td>
                    {% endfor %}
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
            <hr>
            <button type="submit" class="btn btn-primary btn-block">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
