[MASTER]

# A comma-separated list of package or module names from where C extensions may
# be loaded. Extensions are loading into the active Python interpreter and may
# run arbitrary code.
extension-pkg-whitelist=

# Add files or directories to the blacklist. They should be base names, not
# paths.
ignore=migrations,settings.py

# Add files or directories matching the regex patterns to the blacklist. The
# regex matches against base names, not paths.
ignore-patterns=

# Use multiple processes to speed up Pylint. Specifying 0 will auto-detect the
# number of processors available to use.
jobs=1

# List of plugins (as comma separated values of python module names) to load,
# usually to register additional checkers.
load-plugins=pylint_django
django-settings-module=wahlfang.settings.development

[MESSAGES CONTROL]
disable=print-statement,
        missing-function-docstring,
        missing-module-docstring,
        missing-class-docstring,
        line-too-long,
        invalid-name,
        unused-argument,
        too-many-locals,
        too-many-statements,
        too-many-instance-arguments,
        too-few-public-methods,
        too-many-arguments,
        too-many-instance-attributes,
        too-many-branches,
        too-many-lines,
        too-many-public-methods,
        bad-indentation,
        bad-continuation,
        import-error,
        wildcard-import,
        no-self-use,
        duplicate-code,
        wrong-import-position,
        no-member,
        unused-import,
        fixme, # no TODOs
