---
You are receiving this e-mail because you are a member of StuStaNet e. V., the network organization in StuSta.
---
English version below.
---

Liebe Bewohner,

die StuSta lebt von gegenseitger Hilfe. So auch bei der Netzwerkinfrastruktur. Hausadministratoren (Netzwerk Admins) sind Freiwillige, die ihren Mitbewohnern insbesondere beim Einrichten des Internetzugangs helfen und für eine funktionierende Netzwerkinfrastruktur sorgen.

Jedes Semester wählen die Hausbewohner dazu geeignete Freiwillige zu den Netzwerk Admins ihres Hauses (Hausadmins).
Auch Du hast die Möglichkeit deine Stimme für geeignete Kandidaten abzugeben oder dich sogar selbst aufstellen zu lassen!

Der aktuellen Situation geschuldet muss die Wahl dieses Semester online stattfinden.
Du kannst unter folgendem Link an der Wahl teilnehmen und dich auch selbst als Hausadmin bewerben:
{{ login_url }}
nur innerhalb des MWN (Münchner Wissenschaftsnetz) erreichbar, z.B. innerhalb der StuSta, eduroam, lrz VPN oder
ähnliche Universitäts-VPNs.

Die Ergebnisse der Online-Abstimmung werden dann in einer kurzen Hausversammlung per Videokonferenz gesammelt angenommen oder abgelehnt.
Unter {{ election.meeting_link }} kannst du am {{ election.meeting_start_time.date|date:"d.m.Y" }} um {{ election.meeting_start_time.time|time:"H:i" }} Uhr teilnehmen.


Was macht ein Hausadmin?
- Mitbewohner bei allgemeinen Netzwerkproblemen unterstützen
- Ehrenamtliches Engagement, das wir auch gerne Bescheinigen!

Was musst du können um Hausadmin zu werden?
Wenn du deinen Internetzugang selbst eingerichtet hast bist du bereits ausreichend qualifiziert!
Falls du selbst ein Problem einmal nicht lösen kannst ist das auch nicht schlimm, deine Mitadmins helfen gerne weiter.

Optional hast du darüber hinaus als Hausadmin die Möglichkeit dich weiter im StuStaNet zu engagieren:
- Du wirst Teil des Adminrats, der die technischen Entscheidungen im StuStaNet trifft
- Interessante Einblicke in die StuSta Netzwerkinfrastruktur mit knapp 2500 Nutzern
- Viele lehrreiche Erfahrungen im Bereich Programmierung, Computernetzwerke und anderen IT Bereichen
- Je nach Lust und Laune kannst du auch bei den Sprechstunden mithelfen
- Engagierte Netzwerkadmins haben die Möglichkeit Wohnzeitverlängerungen durch ein Engagementsemester zu erhalten

Mehr Infos über Hausadmin werden: https://wiki.stusta.de/Admin_werden
Mehr Infos über StuStaNet: https://stustanet.de

---
English version
---

Dear residents,

as in many parts of StuSta its network also lives of residents helping each other.
House admins are volunteers that help their housemates setup their internet connection and
help with the overall network infrastructure of StuSta.

Network admins (house admins) are elected every semester by the residents of each house in StuSta.
You can also take part in this election and even apply yourself.

Due do the current situation we are unable to hold the election in person, which is why it will be held online.
By visiting the following link you can take part and also submit your application as a house admin.
{{ login_url }}
only accessible within munich scientific network (MWN/Münchner Wissenschaftsnetz), e.g. within StuSta, eduroam or
via lrz VPN or similar university VPNs.

The results of this online-election will afterwards be either accepted or rejected by a short house assembly via video conference.
This conference will take part on {{ election.meeting_start_time.date|date:"Y/m/d" }} at {{ election.meeting_start_time.time|time:"h:i A" }}. You can join at that time via {{ election.meeting_link }}.

What does a network admin do?
- Helps coresidents with general internet problems
- Voluntary engagement which we will gladly certify

What are the requirements to be a network admin?
If you succesfully managed to configure your Internet access, you already have all the requirements you need.
In case you cannot solve a problem yourself, don't worry, the other admins are willing to help you.

Optionally, you can get further involved with StuStanet:
- You become part of the Adminrat (administrator council) that decides on the technical aspects of StuStaNet
- Interesting insights into the network architecture of StuSta
- Gain experience in programming and network/server administration through StuStaNet projects
- You can help us with the consultation hours
- Especially dedicated house admins can receive honorary semester to extend their tenancy agreement in StuSta

More information about house admins: https://wiki.stusta.de/Admin_werden
More information about StuStaNet https://stustanet.de