---
English version below.
---

--- ERINNERUNG ---

Liebe StuSta-Bewohner,

<b>die Abstimmungsphase der Adminwahlen hat nun begonnen und ihr könnt ab sofort abstimmen.</b>
Die Abstimmung ist möglich bis zum {{ election.end_date|date:"d.m.Y" }} um {{ election.end_date|date:"H:i" }} unter:
<a href="vote.stusta.de">vote.stusta.de</a> (Persönlicher Zugangscode in der E-Mail vom 30.04.2020).

Die Bewerbungsphase ist damit geschlossen.

Und nicht vergessen: Am Freitagabend findet der formale Teil der Wahlen mittels Videokonferenz statt. Hier der Link für dein Haus:
<a href="{{ election.meeting_link }}">{{ election.meeting_link }}</a>

Liebe Grüße
Euer StuStaNet Vorstand



---
English version
---

--- REMINDER ---

Dear StuSta residents,

<b>The election phase of the network administrator elections has begun and you can now vote.</b>
The election is possible until {{ election.meeting_start_time|date:"Y/m/d" }} at {{ election.meeting_start_time|date:"h:i A" }} via the following link:
<a href="vote.stusta.de">vote.stusta.de</a> (personal access code in the email from 2020/04/30).

The application phase is now closed.

And remember: On Friday night, the formal part of the election will be held via a video conference. Here is the link for your house:
<a href="{{ election.meeting_link }}">{{ election.meeting_link }}</a>

Regards
Your StuStaNet Executive Board
