---
English version below.
---

--- ERINNERUNG ---

Hallo,

<b>die Abstimmungsphase der Versammlung "{{ session.title }}" hat nun begonnen und du kannst ab sofort abstimmen.</b>
Die Abstimmung ist möglich bis zum {{ session.end_date|date:"d.m.Y" }} um {{ session.end_date|date:"H:i" }} unter:
<a href="vote.stusta.de">vote.stusta.de</a> (Persönlicher Zugangscode in der vorherigen E-Mail).

Hier der Link zum Meeting:
<a href="{{ session.meeting_link }}">{{ session.meeting_link }}</a>


---
English version
---

--- REMINDER ---

Hi,

<b>the election phase of the meeting "{{ session.title }}" has begun and you can now vote.</b>
The election is possible until {{ session.meeting_start_time|date:"Y/m/d" }} at {{ session.meeting_start_time|date:"h:i A" }} via the following link:
<a href="vote.stusta.de">vote.stusta.de</a> (personal access code in preceding mail).

Here is the link to the meeting:
<a href="{{ session.meeting_link }}">{{ session.meeting_link }}</a>
