---
English version below.
---

Liebe StuSta-Bewohner,

in unserer Mail vom 30.04.2020 zu den Netzwerkadminwahlen ist uns leider ein kleiner Fehler hinsichtlich der Zeiten für die
Online-Meetings unterlaufen:
Die korrekte Zeit für dein Haus ist: <b>{{ election.meeting_start_time|date:"d.m.Y" }} um {{ election.meeting_start_time|date:"H:i" }} Uhr</b>
Zur gegebenen Zeit kannst du unter <a href="{{ election.meeting_link }}">{{ election.meeting_link }}</a> daran teilnehmen.
Einen Überblick über alle Zeiten findet ihr auch im Vereinsanzeiger: https://vereinsanzeiger.stustanet.de/

<b>Bewerbungen sind noch bis Mittwoch um 12:00 möglich</b> unter:
<a href="https://vote.stustanet.de">https://vote.stustanet.de</a> (Persönlicher Zugangscode in der E-Mail vom 30.04.2020)

Hausadmins unterstützen insbesondere Mitbewohner bei allgemeinen Netzwerkproblemen. Dies ist ehrenamtliches Engagement, das wir auch gerne bescheinigen!
Wenn du deinen Internetzugang selbst erfolgreich eingerichtet hast bist du vermutlich bereits ausreichend qualifiziert!
Und keine Sorge, deine Mitadmins helfen zudem gerne weiter, falls Fragen oder Probleme, die du alleine nicht lösen kannst, auftretenden.
Im Vordergrund steht der Wille zu helfen, nicht ein umfangendes technisches Wissen (das natürlich troztdem gerne im StuStaNet e. V. eingebracht werden kann).

Mehr Infos über Hausadmin werden: https://wiki.stusta.de/Admin_werden
Mehr Infos über StuStaNet: https://stustanet.de

Liebe Grüße
Eurer StuStaNet Vorstand



---
English version
---

Dear StuSta residents,

in our email from 2020/04/30 concerning the network admin elections we unfortunately made a small mistake regarding the times of the online meetings:
The correct time for your house is: <b>{{ election.meeting_start_time|date:"Y/m/d" }} at {{ election.meeting_start_time|date:"h:i A" }}.</b>
At that time you can join via <a href="{{ election.meeting_link }}">{{ election.meeting_link }}</a>.
You can also find an overview of all times in the Vereinsanzeiger: https://vereinsanzeiger.stustanet.de/

<b>Applications are still possible until Wednesday, 12:00 (noon)</b> at:
<a href="https://vote.stustanet.de">https://vote.stustanet.de</a> (personal access code in the email from 2020/04/30)

House admins primarily help co-residents with general internet problems. That is volunteer work that we will gladly certify!
If you successfully managed to configure your Internet access, you likely already have all the requirements you need.
And don't worry, the other admins will help you if questions or problems which you cannot solve alone occur.
Most important is the will to help, not a comprehensive technical knowledge (which of course can still be contributed to StuStaNet e. V.).

More information about becoming a network admin: https://wiki.stusta.de/Becoming_an_Admin
More information about StuStaNet https://stustanet.de

Regards
Your StuStaNet executive board
