---
English version below.
---

Hallo liebe StuSta-Bewohner,

in unserer letzten Mail zu den Adminwahlen ist uns leider ein kleiner Fehler hinsichtlich der Zeiten für die
Online-Meetings unterlaufen:
Die korrekte Zeit für dein Haus ist diese hier: <b>{{ election.meeting_start_time|date:"d.m.Y" }} um {{ election.meeting_start_time|date:"H:i" }} Uhr</b>
Zur gegebenen Zeit kannst du unter <a href="{{ election.meeting_link }}">{{ election.meeting_link }}</a> daran teilnehmen.
Einen Überblick über alle Zeiten findet ihr auch im Vereinsanzeiger: https://vereinsanzeiger.stustanet.de/

In dieser Stelle wollen wir nochmal aufmerksam machen wie wichtig Hausadmins für die jeweiligen Häuser sind:

Was macht ein Hausadmin?
- Mitbewohner bei allgemeinen Netzwerkproblemen unterstützen
- Ehrenamtliches Engagement, das wir auch gerne Bescheinigen!

Was musst du können um Hausadmin zu werden?
Wenn du deinen Internetzugang selbst eingerichtet hast bist du bereits ausreichend qualifiziert!
Falls du selbst ein Problem einmal nicht lösen kannst ist das auch nicht schlimm, deine Mitadmins helfen gerne weiter.

Optional hast du darüber hinaus als Hausadmin die Möglichkeit dich weiter im StuStaNet zu engagieren:
- Du wirst Teil des Adminrats, der die technischen Entscheidungen im StuStaNet trifft
- Interessante Einblicke in die StuSta Netzwerkinfrastruktur mit knapp 2500 Nutzern
- Viele lehrreiche Erfahrungen im Bereich Programmierung, Computernetzwerke und anderen IT Bereichen
- Je nach Lust und Laune kannst du auch bei den Sprechstunden mithelfen
- Engagierte Netzwerkadmins haben die Möglichkeit Wohnzeitverlängerungen durch ein Engagementsemester zu erhalten

Mehr Infos über Hausadmin werden: https://wiki.stusta.de/Admin_werden
Mehr Infos über StuStaNet: https://stustanet.de

Liebe Grüße
Eurer StuStaNet Vorstand



---
English version
---

Dear StuSta-residents,

In our last e-mail concerning the house admin elections we unfortunately made a small mistake regarding the times of the online meetings:
The correct time for your house is: <b>{{ election.meeting_start_time|date:"Y/m/d" }} at {{ election.meeting_start_time|date:"h:i A" }}.</b>
At that time you can join via <a href="{{ election.meeting_link }}">{{ election.meeting_link }}</a>.
You can also find an overview of all times in the Vereinsanzeiger: https://vereinsanzeiger.stustanet.de/

At this point we would like to draw your attention once again to the importance of house admins for the respective houses:

What does a network admin do?
- Helps coresidents with general internet problems
- Voluntary engagement which we will gladly certify

What are the requirements to be a network admin?
If you successfully managed to configure your Internet access, you already have all the requirements you need.
In case you cannot solve a problem yourself, don't worry, the other admins are willing to help you.

Optionally, you can get further involved with StuStanet:
- You become part of the Adminrat (administrator council) that decides on the technical aspects of StuStaNet
- Interesting insights into the network architecture of StuSta
- Gain experience in programming and network/server administration through StuStaNet projects
- You can help us with the consultation hours
- Especially dedicated house admins can receive honorary semester to extend their tenancy agreement in StuSta

More information about house admins: https://wiki.stusta.de/Admin_werden
More information about StuStaNet https://stustanet.de

Regards
Your StuStaNet executive board