{% extends 'management/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
  <div class="row justify-content-center">
    <div class="col-8">
      <div class="card shadow">
        <div class="card-body">
          <h4>Abstimmung erstellen</h4>
          <form class="user" action="{% url 'management:add_election' %}" method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" id="id_btn_start" class="btn btn-success">Speichern</button>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}