{% extends 'management/base.html' %}

{% block content %}
  <div class="row justify-content-center">
    <div class="col-8">
      <div class="card shadow">
        <div class="card-body">
          <h4>Abstimmungen</h4>
          <div class="list-group">
            {% for election in elections %}
              <a class="list-group-item list-group-item-action" href="{% url 'management:election' election.pk %}">
                <span>{{ election.title }}</span>
                <small class="float-right text-muted">
                  {% if election.end_date %}
                    {{ election.application_due_date }} - {{ election.end_date }}
                  {% else %}
                    Not started yet
                  {% endif %}
                </small>
              </a>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}