{% extends 'management/base.html' %}

{% block content %}
  <div class="row justify-content-center">
    <div class="col-8">
      <div class="card shadow">
        <div class="card-body">
          <h4>My Meetings</h4>
          <div class="list-group">
            {% for session in sessions %}
              <a class="list-group-item list-group-item-action" href="{% url 'management:session' session.id %}">
                <span>{{ session.title }}</span>
                <small class="float-right text-muted">
                  {% if session.start_date %}
                    {{ session.start_date|date:"l Y-m-d H:i:s" }}
                  {% else %}
                    Not started yet
                  {% endif %}
                </small>
                {% if session.meeting_link %}
                    <small>Meeting on <a href="{{ session.meeting_link }}">{{ session.meeting_link }}</a></small>
                {% endif %}
              </a>
            {% endfor %}
          </div>
          <hr>
          <form class="d-inline" action="{% url 'management:index' %}?action=add_session" method="post">
              {% csrf_token %}
              <button class="btn btn-success" type="submit">Create Meeting</button>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
