{% extends 'management/base.html' %}
{% load static %}



{% block content %}
  <div class="row justify-content-center">
    <div class="col-12">
      <div class="card shadow ">
        <div class="card-header  bg-dark text-light">
          <h4 class="d-inline">{{ session.title }}</h4>
          <a class="btn btn-success d-inline float-right ml-2"
             href="{% url 'management:add_election' pk=session.id %}">Add Election</a>
          {% if session.meeting_link %}
            <br/>
            <small>Meeting on <a href="{{ session.meeting_link }}">{{ session.meeting_link }}</a></small>
          {% endif %}
        </div>
        <div class="card-body">
          <div class="list-group">
            {% for election in elections %}
              <div class="list-group-item list-group-item-action">

                <a class="main-link" href="{% url 'management:election' pk=election.id %}"></a>
                <span><b>{{ election.title }}</b></span>
                <button type="button" class="close btn btn-danger btn-lg float-right" data-toggle="modal"
                        data-target="#deleteModel{{ election.pk }}"
                        aria-label="remove election from session">
                  <span aria-hidden="true">&times;</span>
                </button>

                <small class="float-right">
                  {% if not election.start_date %}
                    <span class="right-margin">Not started yet</span>
                  {% elif election.is_open %}
                    <span class="right-margin">
                      Open {{ election.start_date|date:"H:i" }} - {{ election.end_date|date:"H:i" }}
                    </span>
                  {% elif election.closed %}
                    <span class="right-margin">Closed</span>
                  {% endif %}
                </small>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
      <div class="card shadow my-4">
        <div class="card-body">
          <h4>Voters
            <a class="btn btn-success d-inline float-right ml-2"
               href="{% url 'management:add_tokens' pk=session.id %}">Add Tokens</a>
            <a class="btn btn-success d-inline float-right ml-2"
               href="{% url 'management:add_voters' pk=session.id %}">Add Voters</a>
          </h4>
          <br>
          <table class="table">
            <thead>
            <tr>
              <th scope="row">E-Mail</th>
              <th scope="row"></th>
            </tr>
            </thead>
            <tbody>
            {% for voter in voters %}
              <tr>
                <td class="{% if voter.logged_in %}text-success{% endif %}"> {{ voter }}</td>
                <td class="text-right">
                  <form action="{% url 'management:delete_voter' voter.pk %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="close btn btn-danger" aria-label="remove voter">
                      &times;
                    </button>
                  </form>
                </td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
          <a class="btn btn-dark d-inline float-left ml-2"
             href="{% url 'management:print_token' session.pk %}">Download Tokens</a>
        </div>
      </div>
    </div>
  </div>
  {% for election in elections %}
    <div class="modal fade" id="deleteModel{{ election.pk }}" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Delete Election</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body">
            <p>Are you sure you want to delete {{ election.title }}?</p>
          </div>
          <div class="modal-footer">
            <form action="{% url 'management:delete_election' pk=election.pk %}" method="post">
              {% csrf_token %}
              <button type="submit" class="btn btn-danger">Delete</button>
            </form>
            <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
  <script src="{% static "js/jquery-3.4.1.slim.min.js" %}"
          integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"></script>
  <script src="{% static "bootstrap-4.4.1-dist/js/bootstrap.min.js" %}"
          integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"></script>
{% endblock %}
